<% if user_signed_in? || admin_signed_in? %>
	<h1>Cтуденты</h1> 

<% if admin_signed_in? %>
	<div class="buttons">
		<button type="button" class="btn btn-default">
			<h5><%=link_to "Добавить", "students/new" %></h5>
		</button>
	</div>
<% end %>
<% end %>

<% if @students.empty? %>
	<b>Нет студентов</b>
<% else %>

<% if user_signed_in? || admin_signed_in? %>
	<table class="table table-striped">
		<tr>
			<th></th>
			<th>Имя</th>
			<th>Дата рождения</th>
			<th>Название учебного заведения</th>
			<th>Адрес</th>
			<th>Паспортные данные</th>
			<th>Номер телефона</th>
			<th>Учебная группа</th>
			<th></th>
			<th></th>
		</tr>

	<% @students.each do |s| %>
		<tr>
			<td><%=link_to s.id, student_path(s)%></td>
			<td><%=link_to s.name, student_path(s)%></td>
			<td><%=link_to s.birth_date, student_path(s)%></td>
			<td><%=link_to s.school_name, student_path(s)%></td>
			<td><%=link_to s.address, student_path(s)%></td>
			<td><%=link_to s.passport_data, student_path(s)%></td>
			<td><%=link_to s.phone_number, student_path(s)%></td>
			<td><%=link_to s.group.name, group_path(s)%></td>
			<% if admin_signed_in? %>
			<td><%=link_to edit_student_path(s) do%>	
					<i class="glyphicon glyphicon-edit"></i>		
				<% end %>
			</td>
			<td><%=link_to s, method: :delete, data: {confirm: "Точно удалить?"} do%>
					<i class="glyphicon glyphicon-remove"></i>
				<% end %>
			</td>
			<% end %>
		</tr>
	<% end %>
	<% end %>
<% end %>
	</table>

</br>
<% if user_signed_in? || admin_signed_in? %>
<div class="buttons">
<button type="button" class="btn btn-basic">
	<%=link_to "Преподаватели" , teachers_path%> &nbsp
</button>
<button type="button" class="btn btn-basic">
	<%=link_to "Курсы", courses_path%> &nbsp
</button>
<button type="button" class="btn btn-basic">
	<%=link_to "Группы",   groups_path%>
</button>
</div>
<% end %>

