<h1>Редактирование учебной группы</h1>

<%= form_for @group do |f| %>

	<p> Название учебной группы <br/> <%= f.text_field :name %> </p>
	<p> Учебный курс <br/> <%= f.text_field :course_id %> </p>

	<p> <%= f.submit "Применить изменения" %> </p>

<% end %>