<% if user_signed_in? || admin_signed_in? %>
<h1>Курсы дополнительного образования</h1>

<% if admin_signed_in? %>
	<div class="button">
		<button type="button" class="btn btn-default">
			<h5><%=link_to "Добавить", "courses/new" %></h5>
		</button>
	</div>
<% end %>

<% end %>
<% if @courses.empty? %>
	<b>Нет курсов</b>
<% else %>

<% if user_signed_in? || admin_signed_in? %>
	<table class="table table-striped">
		<tr>
			<th></th>
			<th>Название курса</th>
			<th>Учебная группа</th>
			<th>Преподаватель курса</th>
			<th></th>
			<th></th>
		</tr>

		<% @courses.each do |c| %>
		<tr>
			<td><%=link_to c.id, course_path(c)%></td>
			<td><%=link_to c.name, course_path(c)%></td>
			<td><%=link_to c.group.name, group_path(c)%></td>
			<td><%=link_to c.teacher.name, teacher_path(c)%></td>
			<% if admin_signed_in? %>
			<td><%=link_to edit_course_path(c) do%>	
					<i class="glyphicon glyphicon-edit"></i>		
				<% end %>
			</td>
			<td><%=link_to c, method: :delete, data: {confirm: "Точно удалить?"} do%>
					<i class="glyphicon glyphicon-remove"></i>
				<% end %>
			</td>
			<% end %>
		</tr>
					<% end %>
	<% end %>
<% end %>
	</table>
	
</br>
<% if user_signed_in? || admin_signed_in? %>
<div class = button>
	<button type="button" class= "btn btn-basic">
		<%=link_to "Преподаватели" , teachers_path%> 
		&nbsp
	</button>
	
	<button type="button" class= "btn btn-basic">
		<%=link_to "Студенты", students_path%> &nbsp
	</button>

	<button type="button" class= "btn btn-basic">
		<%=link_to "Группы", groups_path%>
	</button>
</div>
<% end %>

