<h1>Информация о курсе</h1>

<ul>	
	<li>ID: <%=@course.id%> </li> 
	<li>Название курса: <%=@course.name%> </li>
</ul>

<div class="button">
	<button type="button class="btn btn-basic">
		<%=link_to "Назад", courses_path%>
	</button>
</div>